/* Main Page Style */
.layouts{
  min-height: 100vh;
  max-width: 100vw;
  background-color: #FFF5EC;
  font-family: "Air BNB Cereal" !important;
}

/* Navbar Style */
@media only screen and (min-width: 768px){
  .nav-auth-item a{
    color: white !important;
  }
  
  .nav-auth-item a:hover{
    color: #2E266F !important;
  }
}



/* Footer style */
footer {
  position: relative;
  min-height: 65vh;
  max-height: 65vh;
  bottom: 0;
  background-color: #EFC81A !important;
}

.footer-content{
  min-height: inherit;
  max-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2E266F;
}

.footer-title{
  font-size: 72px;
}

.footer-sub-title{
  font-size: 24px;
}

.footer-menu{
  position: absolute;
  bottom: 0;
  margin-bottom: 3rem;
}

.footer-menu span{
  margin-left: 2rem;
  margin-right: 2rem;
}