/* Main Page Style */
.layouts{
  min-height: 100vh;
  max-width: 100vw;
  background-color: #FFF5EC;
  font-family: "Air BNB Cereal" !important;
}

button.active{
  background-color: #EFC81A !important;
  border-color: transparent !important;
}

/* Navbar Style */
@media only screen and (min-width: 768px){
  .nav-auth-item a{
    color: white !important;
  }
  
  .nav-auth-item a:hover{
    color: #2E266F !important;
  }
}