.footer{
    position: relative;
    flex-direction: column;
    background-color: #EFC81A;
    height: 65vh;
    max-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E266F;
    text-align: center;
}

.footer h1{
    font-size: 72px;
    font-weight: 600;
}

.footer p, .footer div{
    font-size: 24px;
}

.footer div{
    position: absolute;
    bottom: 0;
    margin-bottom: 5vh;
}

.footer div span{
    margin: 0 2vw 0 2vw;
}

/* Phone breakpoints */
@media only screen and (max-width: 575px){ 
    .footer h1{
        font-size: 32px;
    }

    .footer p, .footer div{
        font-size: 12px;
    }
}

/* Tablet breakpoints */
@media only screen and ((min-width: 576px) and (max-width: 1024px)) {
    .footer h1 {
        font-size: 54px;
    }

    .footer p, .footer div{
        font-size: 20px;
    }
}