.sectionOne{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

div.leftContent, div.rightContent{
    width: 50vw;
    max-width: 50vw;
}

div.leftContent{
    display: flex;
    flex-direction: column;
    padding: 0 3% 0 7%;
}

div.leftContent span{
    font-size: 72px;
    color: #2E266F;
}

div.leftContent input{
    margin-top: 1rem;
    width: 98%;
    height: 7vh;
    border: 0;
    border-radius: 10px;
    padding: 0 20px;
}

div.leftContent input:focus{
    outline-color: #EFC81A;
}

div.rightContent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 2%;
    min-height: inherit;
}

div.rightContent .leftSide, div.rightContent .rightSide{
    width: 50%;
}

div.rightContent .leftSide{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 8%;
}

div.rightContent .leftSide img{
    margin: 3% 0 3% 0;
    width: 100%;
}

div.rightContent div.rightSide{
    width: 100%;
    background-color: #EFC81A;
    height: 125vh;
}

/* div.rightContent .mainFoodBg{
    position: absolute;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.rightContent .mainFoodBg img{
    height: 100%;
    width: 100%;
} */

div.rightContent .mainFood{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.rightContent .mainFood img{
    height: 100%;
    width: 100%;
}

.sectionPageSize{
    min-height: inherit;
    width: 100%;
}

.sectionPageSize .sectionTitle{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-left: 7%;
    margin-top: 1vh;
}

.sectionTitle span{
    font-size: 46px;
    color: #2E266F;
    margin-left: 2%;
}

.sectionTitle .titleLine{
    width: 1.5%;
    height: 12vh;
    background-color: #EFC81A;
}

.sectionPageSize .popularSection{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.popularSection .popularCard{
    width: 35vw;
    height: 60vh;
    margin-right: 2vw;
    border-radius: 15px;
    padding: 2%;
    display: flex;
}

.popularSection .popularCard span{
    font-size: 34px;
    color: white;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    margin-top: auto;
}


.sectionPageSize .newRecipeSection{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    min-height: inherit;
}

.newRecipeSection .leftSide{
    width: 50%;
}

.newRecipeSection .leftSide .leftBackground{
    width: 50%;
    height: 70%;
    padding-top: 6%;
    padding-left: 10%;
    background-color: #EFC81A;
}

.leftSide .leftBackground img{
    position: absolute;
    object-fit: cover;
    width: 35%;
    height: 70%;
    border-radius: 15px;
}

.newRecipeSection .rightSide{
    color: #2E266F;
    width: 50%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10%;
}

.newRecipeSection .rightSide .content{
    height: 70%;
}

.newRecipeSection .rightSide span{
    font-size: 54px;
}

.newRecipeSection .rightSide hr{
    width: 25%;
}

/* MEDIA QUERIES BREAKPOINTS */
/* Phone breakpoints */
@media only screen and (max-width: 575px) {

    .sectionPageSize {
        min-height: 50vh;
        margin-bottom: 10%;
    }

    div.leftContent span {
        font-size: 32px;
        text-align: center !important;
    }

    .sectionTitle span {
        font-size: 20px;
    }

    .sectionTitle .titleLine {
        height: 6vh;
    }

    .popularSection {
        align-items: center !important;
        flex-direction: column !important;
    }

    .popularSection .popularCard {
        width: 85vw;
        height: 35vh;
        margin: 1vh !important;
    }

    .popularSection .popularCard span {
        font-size: 28px;
    }

    .newRecipeSection .leftSide .leftBackground {
        height: 80%;
    }

    .leftSide .leftBackground img {
        height: 42%;
    }

    .newRecipeSection .rightSide span {
        font-size: 22px;
    }

    .newRecipeSection .rightSide {
        padding: 0;
    }

    
}

/* Tablet breakpoints */
@media only screen and ((min-width: 576px) and (max-width: 1024px)) {
    div.leftContent span {
        font-size: 39px;
    }

    .sectionPageSize {
        min-height:50vh;
    }

    .sectionTitle .titleLine {
        height: 7vh;
    }

    .sectionTitle span {
        font-size: 26px;
    }

    .popularSection {
        justify-content: center !important;
    }

    .popularSection .popularCard {
        width: 50vw;
        height: 35vh;
        margin: 0 2vw;
    }
    
    .newRecipeSection .leftSide .leftBackground {
        height: 80%;
    }

    .leftSide .leftBackground img {
        height: 40%;
    }

    .newRecipeSection .rightSide span {
        font-size: 34px;
    }

}

/* Laptop breakpoints */
@media only screen and ((min-width: 1025px) and (max-width: 1440px)) {
    div.leftContent span {
        font-size: 52px;
    }

    .sectionTitle .titleLine {
            height: 12vh;
    }

    .sectionTitle span {
        font-size: 32px;
    }

    .popularSection .popularCard span {
        font-size: 26px;
    }

    .newRecipeSection .rightSide span {
        font-size: 40px;
    }

}

@media only screen and (max-width: 767px){
    div.rightContent{
        display: none;
    }

    div.leftContent{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100vw;
        max-width: 100vw;
    }

    div.leftContent input{
        width: 80%;
    }
}